﻿@model IEnumerable<DynCre.Models.DTO.AggregatedDataDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div id="containerForData">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RangeName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TotalRecordsCount)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OriginalPrincipalBalance)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DebtToIncome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LoanToIncome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TotalIncome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IndexedDebtToIncome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IndexedLoanToIncome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CurrentInterestRate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OriginalLtv)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OriginalLtfv)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OriginalForeclosureValue)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IndexedLTFV)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RangeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRecordsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalPrincipalBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtToIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanToIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IndexedDebtToIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IndexedLoanToIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentInterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalLtv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalLtfv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalForeclosureValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IndexedLTFV)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <canvas id="reportChart"></canvas>
</div>

<div class="print-exclude">
    <input type="button" class="btn btn-default" onclick="printDiv('containerForData')" value="Print this page"/>
    <script type="text/javascript">
        buildChart();
    </script>
</div>