﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test assignement Dynamic Credit Georgy Grigoryev</h1>
    <p class="lead">
        Project based on the attached dataset (Test_Scenario) which includes:
        <ul>

            <li>1000 rows per table [please scale/multiply it up to 4 million rows at your end]</li>
            <li>Normalized data structure (you can adjust the DB structure as needed for performance improvement)(</li>

        </ul>
    </p>
    @Html.ActionLink("Go to page with data", "Index", "Data")
</div>

<div class="row">
    <div class="col-md-4">


        <h2>Prepare data</h2>
        <p>Data is loaded in the background. When all files from source folder is loaded please press the button to prepare data for the report</p>
        @Html.ActionLink("Let's go", "Prepare", "Home", null, new {
            @class = "btn btn-default"
        })
    </div>
    <div class="col-md-4">

        <h2>Scale data</h2>
        <p>
            When you press this button application will scale loaded data 4000x times. If we have 1000 rows in Contracts it will be scaled to 4 millions.
        </p>
        @Html.ActionLink("Let's go", "Generate", "Home", null, new {
            @class = "btn btn-default"
        })

    </div>
</div>